<div class="jumbotron text-center">

<style type="text/css">
    table {
  border: 1px solid #666;   
    width: 100%;
}
th {
  background: #f8f8f8; 
  font-weight: bold;    
    padding: 2px;
}



</style>
	<h1>Contact Page</h1>
	
	<p>{{ message }}</p>
	 <p>    Click <a ng-click="loadPeople()">here</a> to load data.</p>
<table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
    </tr>
    <tr ng-repeat="person in people">
        <td>{{person.Name}}</td>
        <td>{{person.City}}</td>
        <td>{{person.Country}}</td>
    </tr>
</table>
</div>
</div>